@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3 style="color:red;">هل انت متأكد من انك تريد حذف هذه الفئة ؟</h3>
<div>
    <table style="font-size:20px;" class="table table-bordered">
        <tr style="display:none"></tr>
        <tr class="text-right">
            <td class="text-right">
                @Html.DisplayName("اسم الفئة") :<span style="font-weight:bold">
                    @Html.DisplayFor(model => model.Name)
                </span>
            </td>
        </tr>
    </table>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("العودة إلي قائمة الفئات", "Index")
        </div>
    }
</div>


